
@theme {
  /* Disable default colors to prevent their use; feel free to re-enable as needed. */
  --color-amber-*: initial;
  --color-lime-*: initial;
  --color-emerald-*: initial;
  --color-teal-*: initial;
  --color-sky-*: initial;
  --color-indigo-*: initial;
  --color-violet-*: initial;
  --color-fuchsia-*: initial;
  --color-pink-*: initial;
  --color-rose-*: initial;
  --color-slate-*: initial;
  /* --color-zinc-*: initial; */
  --color-neutral-*: initial;
  --color-stone-*: initial;

  /* Flexoki Palette */
  --color-black:       #100F0F;
  --color-paper:       #FFFCF0;
  --color-base-50:     #F2F0E5;
  --color-base-100:    #E6E4D9;
  --color-base-150:    #DAD8CE;
  --color-base-200:    #CECDC3;
  --color-base-300:    #B7B5AC;
  --color-base-400:    #9F9D96;
  --color-base-500:    #878580;
  --color-base-600:    #6F6E69;
  --color-base-700:    #575653;
  --color-base-800:    #403E3C;
  --color-base-850:    #343331;
  --color-base-900:    #282726;
  --color-base-950:    #1C1B1A;
  --color-red-50:      #FFE1D5;
  --color-red-100:     #FFCABB;
  --color-red-150:     #FDB2A2;
  --color-red-200:     #F89A8A;
  --color-red-300:     #E8705F;
  --color-red-400:     #D14D41;
  --color-red-500:     #C03E35;
  --color-red-600:     #AF3029;
  --color-red-700:     #942822;
  --color-red-800:     #6C201C;
  --color-red-850:     #551B18;
  --color-red-900:     #3E1715;
  --color-red-950:     #261312;
  --color-orange-50:   #FFE7CE;
  --color-orange-100:  #FED3AF;
  --color-orange-150:  #FCC192;
  --color-orange-200:  #F9AE77;
  --color-orange-300:  #EC8B49;
  --color-orange-400:  #DA702C;
  --color-orange-500:  #CB6120;
  --color-orange-600:  #BC5215;
  --color-orange-700:  #9D4310;
  --color-orange-800:  #71320D;
  --color-orange-850:  #59290D;
  --color-orange-900:  #40200D;
  --color-orange-950:  #27180E;
  --color-yellow-50:   #FAEEC6;
  --color-yellow-100:  #F6E2A0;
  --color-yellow-150:  #F1D67E;
  --color-yellow-200:  #ECCB60;
  --color-yellow-300:  #DFB431;
  --color-yellow-400:  #D0A215;
  --color-yellow-500:  #BE9207;
  --color-yellow-600:  #AD8301;
  --color-yellow-700:  #8E6B01;
  --color-yellow-800:  #664D01;
  --color-yellow-850:  #503D02;
  --color-yellow-900:  #3A2D04;
  --color-yellow-950:  #241E08;
  --color-green-50:    #EDEECF;
  --color-green-100:   #DDE2B2;
  --color-green-150:   #CDD597;
  --color-green-200:   #BEC97E;
  --color-green-300:   #A0AF54;
  --color-green-400:   #879A39;
  --color-green-500:   #768D21;
  --color-green-600:   #66800B;
  --color-green-700:   #536907;
  --color-green-800:   #3D4C07;
  --color-green-850:   #313D07;
  --color-green-900:   #252D09;
  --color-green-950:   #1A1E0C;
  --color-cyan-50:     #DDF1E4;
  --color-cyan-100:    #BFE8D9;
  --color-cyan-150:    #A2DECE;
  --color-cyan-200:    #87D3C3;
  --color-cyan-300:    #5ABDAC;
  --color-cyan-400:    #3AA99F;
  --color-cyan-500:    #2F968D;
  --color-cyan-600:    #24837B;
  --color-cyan-700:    #1C6C66;
  --color-cyan-800:    #164F4A;
  --color-cyan-850:    #143F3C;
  --color-cyan-900:    #122F2C;
  --color-cyan-950:    #101F1D;
  --color-blue-50:     #E1ECEB;
  --color-blue-100:    #C6DDE8;
  --color-blue-150:    #ABCFE2;
  --color-blue-200:    #92BFDB;
  --color-blue-300:    #66A0C8;
  --color-blue-400:    #4385BE;
  --color-blue-500:    #3171B2;
  --color-blue-600:    #205EA6;
  --color-blue-700:    #1A4F8C;
  --color-blue-800:    #163B66;
  --color-blue-850:    #133051;
  --color-blue-900:    #12253B;
  --color-blue-950:    #101A24;
  --color-purple-50:   #F0EAEC;
  --color-purple-100:  #E2D9E9;
  --color-purple-150:  #D3CAE6;
  --color-purple-200:  #C4B9E0;
  --color-purple-300:  #A699D0;
  --color-purple-400:  #8B7EC8;
  --color-purple-500:  #735EB5;
  --color-purple-600:  #5E409D;
  --color-purple-700:  #4F3685;
  --color-purple-800:  #3C2A62;
  --color-purple-850:  #31234E;
  --color-purple-900:  #261C39;
  --color-purple-950:  #1A1623;
  --color-magenta-50:  #FEE4E5;
  --color-magenta-100: #FCCFDA;
  --color-magenta-150: #F9B9CF;
  --color-magenta-200: #F4A4C2;
  --color-magenta-300: #E47DA8;
  --color-magenta-400: #CE5D97;
  --color-magenta-500: #B74583;
  --color-magenta-600: #A02F6F;
  --color-magenta-700: #87285E;
  --color-magenta-800: #641F46;
  --color-magenta-850: #4F1B39;
  --color-magenta-900: #39172B;
  --color-magenta-950: #24131D;
}

/* Define some semantic aliases. */
@theme inline {

  /** Core Colors */
  --color-primary: var(--color-red-400);
  --color-primary-main: var(--color-red-400);
  --color-primary-hover: var(--color-red-300);
  --color-primary-active: var(--color-red-600);
  --color-primary-background: var(--color-red-50);
  --color-primary-foreground: var(--color-paper);
  --color-secondary: var(--color-green-400);
  --color-secondary-main: var(--color-green-400);
  --color-secondary-hover: var(--color-green-300);
  --color-secondary-active: var(--color-green-600);
  --color-secondary-background: var(--color-green-50);
  --color-secondary-foreground: var(--color-paper);
  --color-tertiary: var(--color-purple-500);
  --color-tertiary-main: var(--color-purple-500);
  --color-tertiary-hover: var(--color-purple-400);
  --color-tertiary-active: var(--color-purple-600);
  --color-tertiary-background: var(--color-purple-50);
  --color-tertiary-foreground: var(--color-paper);

  /** Background Colors */
  --color-background: var(--color-background);
  --color-background-app: var(--color-background-app);
  --color-background-surface: var(--color-background-surface);
  --color-background-elevated: var(--color-background-elevated);
  --color-background-border: var(--color-background-border);

  /** Text Colors */
  --color-ink: var(--color-text);
  --color-ink-light: var(--color-text-light);
  --color-ink-strong: var(--color-text-strong);
  --color-ink-normal: var(--color-text-normal);
  --color-ink-muted: var(--color-text-muted);
  --color-ink-placeholder: var(--color-text-placeholder);

  --color-muted: var(--color-muted);
  --color-muted-foreground: var(--color-muted-foreground);

  /** State Colors */
  --color-success: var(--color-green-500);
  --color-success-foreground: var(--color-green-500);
  --color-success-background: var(--color-green-50);
  --color-success-border: var(--color-green-400);
  --color-warning: var(--color-yellow-400);
  --color-warning-foreground: var(--color-yellow-400);
  --color-warning-background: var(--color-yellow-50);
  --color-warning-border: var(--color-yellow-400);
  --color-error: var(--color-red-700);
  --color-error-foreground: var(--color-red-700);
  --color-error-background: var(--color-red-50);
  --color-error-border: var(--color-red-700);
  --color-info: var(--color-blue-500);
  --color-info-foreground: var(--color-blue-500);
  --color-info-background: var(--color-blue-50);
  --color-info-border: var(--color-blue-500);
  --color-presence: var(--color-magenta-200);
  --color-presence-foreground: var(--color-magenta-200);
  --color-presence-background: var(--color-magenta-50);
  --color-presence-border: var(--color-magenta-200);


  /** Callouts Colors */
  --color-hint-foreground: var(--color-cyan-500);
  --color-hint-background: var(--color-cyan-200);
  --color-hint-border: var(--color-cyan-400);
  --color-example-foreground: var(--color-purple-500);
  --color-example-background: var(--color-purple-200);
  --color-example-border: var(--color-purple-400);
  --color-quote-foreground: var(--color-base-500);
  --color-quote-background: var(--color-base-200);
  --color-quote-border: var(--color-base-400);
}
