
@import "./colors.css";
@import "../main.css";

@plugin "@tailwindcss/typography";

:root {
  --scrollbar-color: var(--color-base-50);

  /** Override Obsidian variables */
  --interactive-accent: var(--color-red-400);
  --bases-cards-background: var(--color-paper);
  --font-ui-smaller: 11px;
  --font-ui-small: 13px;
  --input-padding: 4px 8px;
  --size-4-2: 8px;

  /** Internal variables */

  --radius: var(--radius-m, 8px);

  --background: var(--color-paper);
  --foreground: var(--color-base-900);

  --card: var(--color-base-50);
  --card-foreground: var(--color-base-950);
  --popover: var(--color-base-100);
  --popover-foreground: var(--color-base-900);

  --primary: var(--color-red-400);
  --primary-foreground: var(--color-paper);

  --secondary: var(--color-green-400);
  --secondary-foreground: var(--color-paper);

  --muted: var(--color-base-300);
  --muted-foreground: var(--color-base-700);

  --accent: var(--color-purple-500);
  --accent-foreground: var(--color-paper);

  --destructive: var(--color-red-700);
  --destructive-foreground: var(--color-red-50);

  --border: var(--background-modifier-border, #e6e4d9);
  --input: var(--background-modifier-border, #e6e4d9);
  --ring: var(--interactive-accent, hsl( 5, 61%, calc(54% + 6%) ));

  --chart-1: oklch(from var(--primary) clamp(0, calc(l + 0.18), 1) calc(c * 0.55) h);
  --chart-2: oklch(from var(--primary) clamp(0, calc(l + 0.08), 1) calc(c * 0.80) h);
  --chart-3: oklch(from var(--primary) clamp(0, calc(l + 0.00), 1) calc(c * 1.00) h);
  --chart-4: oklch(from var(--primary) clamp(0, calc(l - 0.10), 1) calc(c * 0.95) h);
  --chart-5: oklch(from var(--primary) clamp(0, calc(l - 0.20), 1) calc(c * 0.85) h);

  --sidebar: var(--color-base-100);
  --sidebar-foreground: var(--color-base-900);
  --sidebar-primary: var(--interactive-accent);
  --sidebar-primary-foreground: var(--color-paper);
  --sidebar-accent: var(--background-modifier-hover);
  --sidebar-accent-foreground: var(--color-base-100);
  --sidebar-border: var(--background-modifier-border);
  --sidebar-ring: var(--interactive-accent);

  --color-red: var(--color-red-400);
  --color-orange: var(--color-orange-400);
  --color-yellow: var(--color-yellow-400);
  --color-green: var(--color-green-400);
  --color-cyan: var(--color-cyan-400);
  --color-blue: var(--color-blue-400);
  --color-purple: var(--color-purple-400);
  --color-pink: var(--color-pink-400);
}

.obsidian {
  --interactive-accent: #8A5CF4;
  --primary: #8A5CF4;
}

.dark {
  --scrollbar-color: var(--color-base-900);
  --bases-cards-background: var(--color-base-900);

  --background: var(--color-base-900);
  --foreground: var(--color-base-50);

  --card: rgba(255, 255, 255, 0.067);
  --card-foreground: var(--color-base-50);
  --popover: rgba(255, 255, 255, 0.067);
  --popover-foreground: var(--color-base-50);

  --primary-foreground: var(--color-base-50);

  --secondary-foreground: var(--color-base-50);

  --muted: var(--color-base-300);
  --muted-foreground: var(--color-base-50);

  --accent-foreground: var(--color-base-50);

  --destructive-foreground: var(--color-base-50);

  --border: var(--background-modifier-border, var(--color-base-800));
  --input: var(--background-modifier-border, var(--color-base-800));
  --ring: var(--interactive-accent, hsl( 5, 61%, calc(54% + 6%) ));

  --sidebar: rgba(255, 255, 255, 0.067);
  --sidebar-foreground: var(--color-base-50);
  --sidebar-primary: var(--interactive-accent);
  --sidebar-primary-foreground: var(--color-base-50);
  --sidebar-accent: var(--background-modifier-hover);
  --sidebar-accent-foreground: var(--color-base-50);
  --sidebar-border: var(--background-modifier-border);
  --sidebar-ring: var(--interactive-accent);
}

.obsidian.dark {
  --bases-cards-background: #1E1E1E;
  --background: #1E1E1E;
}

h3 {
  font-size: 20px;
  padding: 4px 8px;
  margin: 8px 0 0 0;
}

.dark h3 {
  color: var(--color-base-50);
}

body, .dark, .obsidian {
  scrollbar-color: var(--scrollbar-color) transparent;
  scrollbar-width: thin;
}

body {
  font-family: ui-sans-serif, -apple-system, "system-ui", "Segoe UI", Roboto, Inter, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.font-merienda {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
